data/

rodinia-bfs/bfs
rodinia-hotspot/hotspot
rodinia-huffman/pavle
rodinia-pathfinder/pathfinder
rodinia-pathfinder/result.txt
rodinia-streamcluster/sc_gpu
rodinia-backprop/backprop
rodinia-cfd/euler3d
rodinia-cfd/euler3d_double
rodinia-cfd/pre_euler3d
rodinia-cfd/pre_euler3d_double
rodinia-hotspot3D/3D
rodinia-hotspot3D/output.out
rodinia-lavaMD/lavaMD
rodinia-srad_v1/srad
rodinia-srad_v1/image_out.pgm

*.o

.vscode/

NsightEclipse.xml

*/*cu.cpp.ii
core
*/hpctoolkit-*-measurements*
*/hpctoolkit-*-database*
*/prof
*/*log
*/workspace/
*/prof/
*csv
*hpcstruct
*/*hpcstruct
*/output.txt


*/result.txt
*/reports/
*/gvprof-measurements/
*/gvprof-database*/
tmp.sqlite
tmp.qdrep
